* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.ps1 text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.png binary
*.ico binary
*.onnx binary
